<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore 
        processPath="dotnet" 
        arguments=".\DeliveryApp.HttpApi.Host.dll" 
        stdoutLogEnabled="true" 
        stdoutLogFile=".\Logs\stdout" 
        hostingModel="inprocess"
        forwardWindowsAuthToken="false">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_URLS" value="http://+:80;https://+:443" />
          <environmentVariable name="ASPNETCORE_FORWARDEDHEADERS_ENABLED" value="true" />
          
          <!-- Database Configuration -->
          <environmentVariable name="DB_CONNECTION_STRING" value="Data Source=sql6030.site4now.net;Initial Catalog=db_abd52c_sa;User Id=db_abd52c_sa_admin;Password=RUN404error" />
          <environmentVariable name="CONNECTION_STRING" value="Data Source=sql6030.site4now.net;Initial Catalog=db_abd52c_sa;User Id=db_abd52c_sa_admin;Password=RUN404error" />
          
          <!-- API Configuration -->
          <environmentVariable name="API_SELF_URL" value="http://wasel.somee.com" />
          <environmentVariable name="APP_SELF_URL" value="http://wasel.somee.com" />
          <environmentVariable name="FRONTEND_URL" value="http://localhost:4200" />
          <environmentVariable name="DASHBOARD_URL" value="http://localhost:4200" />
          <environmentVariable name="WILDCARD_DOMAIN" value="waselsy.com" />
          
          <!-- JWT Configuration -->
          <environmentVariable name="JWT_ISSUER" value="http://wasel.somee.com" />
          <environmentVariable name="JWT_AUDIENCE" value="http://wasel.somee.com" />
          <environmentVariable name="JWT_SECRET_KEY" value="YXJzdRf2yF8bjY4iIvNc8fn6VQSR5nwGWLZfkvsErfKVEOI5hu6tcyh8uvfjjUmP" />
          
          <!-- OAuth Configuration -->
          <environmentVariable name="OAUTH_CLIENT_SECRET" value="YXJzdRf2yF8bjY4iIvNc8fn6VQSR5nwGWLZfkvsErfKVEOI5hu6tcyh8uvfjjUmP" />
          <environmentVariable name="OPENID_CLIENT_ID" value="DeliveryApp_App" />
          <environmentVariable name="OPENID_CLIENT_SECRET" value="YXJzdRf2yF8bjY4iIvNc8fn6VQSR5nwGWLZfkvsErfKVEOI5hu6tcyh8uvfjjUmP" />
          
          <!-- String Encryption -->
          <environmentVariable name="STRING_ENCRYPTION_PASSPHRASE" value="YXJzdRf2yF8bjY4iIvNc8fn6VQSR5nwGWLZfkvsErfKVEOI5hu6tcyh8uvfjjUmP" />
          
          <!-- SendPulse Email Configuration -->
          <environmentVariable name="SENDPULSE_CLIENT_ID" value="Abdalhadi453@gmail.com" />
          <environmentVariable name="SENDPULSE_CLIENT_SECRET" value="EcgCtgZcPn" />
          <environmentVariable name="SENDPULSE_FROM_EMAIL" value="noreply@waselsy.com" />
          <environmentVariable name="SENDPULSE_FROM_NAME" value="Waseel" />
          <environmentVariable name="SENDPULSE_SMTP_SERVER" value="smtp-pulse.com" />
          <environmentVariable name="SENDPULSE_SMTP_PORT" value="587" />
          <environmentVariable name="SENDPULSE_SMTP_USERNAME" value="Abdalhadi453@gmail.com" />
          <environmentVariable name="SENDPULSE_SMTP_PASSWORD" value="EcgCtgZcPn" />
          <environmentVariable name="SENDPULSE_SMTP_USE_TLS" value="true" />
          
          <!-- Firebase Configuration (Optional) -->
          <environmentVariable name="FIREBASE_SERVICE_ACCOUNT_PATH" value="" />
          <environmentVariable name="FIREBASE_PROJECT_ID" value="" />
          
          <!-- Contact Information -->
          <environmentVariable name="SUPPORT_EMAIL" value="support@waselsy.com" />
          <environmentVariable name="ADS_EMAIL" value="ads@waselsy.com" />
          <environmentVariable name="SUPPORT_PHONE" value="+963123456789" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.webServer>
    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline';" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Default Document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <!-- Static Content MIME Types -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".map" />
      <mimeMap fileExtension=".map" mimeType="application/json" />
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    
    <!-- URL Rewriting for API Routes -->
    <rewrite>
      <rules>
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/.*" />
          <action type="None" />
        </rule>
        <rule name="Swagger Routes" stopProcessing="true">
          <match url="^(swagger|swagger-ui)/.*" />
          <action type="None" />
        </rule>
        <rule name="Connect Routes" stopProcessing="true">
          <match url="^connect/.*" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    
    <!-- Request Limits and Security -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" maxQueryString="2048" maxUrl="4096" />
        <fileExtensions>
          <remove fileExtension=".config" />
          <add fileExtension=".config" allowed="false" />
          <remove fileExtension=".log" />
          <add fileExtension=".log" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    
    <!-- Error Pages -->
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
